/* fonte */

@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Playfair+Display:wght@400;700&display=swap");
/* nav styling */

:root {
  --primary-font: "Average Sans", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --main-text-color: #ffffff;

  --white-space: 1rem;

  --bg-color: #efb4d8;
  --link-color: #cce59b;
  --link-hover-color: #f24a4b;
  --color-4: #65a7b6;
  --color-5: #fad502;
  --color-6: #fc8c00;

}

.logo{
  margin-left: 30px;

}

/* 
.fixed-bg{
background-image: url("img/fitness.jpg");
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 50%;
} */

.nav-link{
  color: #000;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

main {
  color: #000;
  margin: 0 !important;
  padding: 0 !important;
}


img {
  max-width: 100%;
  height: auto;
  align-items: center;
}

main,
footer {
  max-width: 2000px;
 
}

.full-width {
  font-family: var(--secondary-font);
  color: white;
  width: 100%;
}



h1 {
  font-family: var(--secondary-font);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 2em;
  font-weight: bold;
  
  text-align: center;
}

h3 {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  text-align: center;
}

h4 {
  font-size: 0.8rem;
  text-align: center;
}

p, h3{
  line-height: 1.5em;
}

nav {
  font-family: var(--primary-font);
  position: sticky;
}

nav a {
  margin-top: 20px;
  font-size: 1.5em;
}

.navbar-light .navbar-nav .nav-link{
  color: #000;
}

.navbar {
  position: sticky;
top: 0;
z-index: 1000;
margin: 0 !important;
padding: 0 !important;
}


.navbar navbar-expand-xl navbar-light bg-light{
  margin: 0;
}
.bg-light{
  --bs-bg-opacity: -1;
}
  
footer {
  background-color: var(--link-color);

}

#navbarNavDropdown {
  font-size: 1.1rem;
}

#navbarNavDropdown p {
  color: #000;
}
footer p {
  color: #000;
}


#varianter div .row img {
  align-items: center;
}

#hero-img{
  margin: 0 !important;
  padding: 0 !important;
}
#mission {
background-color: #65a7b6;
} 

#mission h1 {
  color: #000;
}

#mission .love img {
  width: 50em;
  height: auto;
}

#vidstedu {
background-color: #cce59b;
}
#varianter {
  background-color: var(--bg-color)
}

#ingredienser, #varianter {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

#earth {
  background-color: var(--bg-color);
}

.earth {
width: 30em;
  height: auto;
}

.centered-form{
	margin-top: 60px;
}


.btn-info {
  border-radius: 100px 1px;
  background-color: #fff;
  border-color: #fff;
  color:#000
}
.btn-info:hover {
  background-color: var(--link-hover-color);
}

.panel-default>.panel-heading{
  background-color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.navbar-toggler{
  color: #000;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse{
  margin-left: 15px;
}

.panel-default{
  border-color: var(--link-hover-color);
}

.panel-body{
  background-color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}


#findos {
  background-color: var(--bg-color);
}
#findos img {
  width: 15em;
  height: 15em;
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
}

#findos h2 {
  color: #fff;
}
#earth h2, #earth h3, #earth p {
  color: #fff;
}

.nopadding {
  padding: 0px !important;}

  .nomargin {
    margin: 0 !important;
  }

.hjerte {
 width: 40em;
  height: auto;
}

#varianter h1{
  color: #fff;
}
#vidstedu h1{
  color: var(--link-hover-color);
}


.some img {
  width: 3em;
  height: auto;
}

.fitness {
  width: 100%;
  height: auto;
}

#tilmeld {
  background-color: var(--link-color);
}

.container-fluid {
  padding: 0 !important; 
}

.row {
  margin-left: 0;
  margin-right: 0;
}

header .row {
  margin: 0;
  padding: 0;
}