/* fonte */

@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Playfair+Display:wght@400;700&display=swap");
/* nav styling */

:root {
  --primary-font: "Average Sans", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --main-text-color: #ffffff;

  --white-space: 1rem;

  --bg-color: #ddcebb;
  --link-color: #b57462;
  --link-hover-color: #8a4741;
  --color-4: #ddb07e;
  --color-5: #697f71;
  --color-6: #698da8;
  --color-7: #e08362;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

main {
  color: #000;
  /* background-color: var(--bg-color); */
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-items: center;
}

main,
footer {
  max-width: 1800px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  font-family: var(--secondary-font);
  color: white;
  width: 100%;
}

#hero-img {
  background: var(--bg-color);
}

h1 {
  font-family: var(--secondary-font);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 2em;
  font-weight: bold;
  margin: var(--white-space) 0;
  text-align: center;
}

h3 {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  text-align: center;
}

h4 {
  font-size: 0.8rem;
  text-align: center;
}

p{
  line-height: 2em;
}

nav {
  font-family: var(--primary-font);
}

main {
  padding: calc(2 * var(--white-space));
}
footer {
  background-color: black;
  color: var(--link-hover-color);
}

section {
  margin-bottom: calc(4 * var(--white-space));
  margin-bottom: calc(2 * var(--white-space));
}

.section-heading {
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

#varianter div .row img {
  align-items: center;
}

#ingredienser, #varianter {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

